:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

h1,
h2,
h3,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.for-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  background-color: #4d5ae5;
  padding: 10px;
}
.search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
input {
  width: 100%;
  height: 38px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  outline-color: blue;
}
.submit-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.submit-button:before {
  content: '\1F50D';
  font-size: 20px;
}

.gallery {
  padding-top: 52px;
  display: grid;
  max-width: 1320px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-column-gap: 10px;
  grid-row-gap: 48px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.photo-card:hover {
  transform: scale(1.03);
}
.photo-card {
  transition: transform var(--animation-duration) var(--timing-function);
}
.info {
  display: flex;
  padding-left: 10px;
  gap: 12px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}
.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.invisible {
  display: none;
}
